<div>
<h4>Click on a question to see its answers:</h4>
  <ul>
    <% @questions.each do |question| %>
      <li><%= link_to question.description, question_path(question) %></li>
    <% end %>
  </ul>
</div>
