<div class='col-xs-12 photo-col1'>
  <div>
    <p>Questions for <%= current_user.name %></p>
    <%= link_to "Add a new question", new_user_question_path(current_user) %>
  </div>
  <div>
    <%= render @questions %>
  </div>
</div>
