    <div class="col-xs-12 welcome_text">
      <h1>Welcome to Stack Overflow Clone</h1>
        <p>A website to ask your tech questions and post tech answers!</p>
    </div>

    <div class='feature-images clearfix'>
        <div class="col-sm-6 feature-images-col">
          <%= image_tag('question.jpg', :class => 'welcome_images img-circle ') %>
          <h3>Submit your Questions!</h3>
        </div>
        <div class="col-sm-6 feature-images-col">
          <%= image_tag('answer.jpg', :class => 'welcome_images img-thumbnail') %>
          <h3>Community Answers!</h3>
        </div>
    </div>

    <div class="col-xs-12 welcome_text">
      <h2>Sign up or log in now to start using this great app!</h2>
       <p>Sign in is located in the top right corner of the menu.</p>
    </div>


